body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(225, 100%, 94%);
    background-image: url('images/pattern-background-desktop.svg');
}

.container{
    width: 375px;
    background-color: white;
    margin: 40px auto;
    text-align: center;
    border-radius: 20px;
}

.container .image{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.image img{
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.contenu{
    padding:15px;
}

.contenu h1{
    color: hsl(223, 47%, 23%);
    font-family: "Red Hat Display", sans-serif;
}

.contenu p{
    color: hsl(223, 47%, 23%);
    font-family: "Red Hat Display", sans-serif;
}

.contenu .info{  
    width: 80%;
    margin: auto;  
    display: flex;
    background-color: hsl(225, 100%, 98%);
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 15px 15px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.info .inf p{
    margin: 0;
    padding: 2px;
    margin-left: -35px;
    font-size: 16px;
}

.inf .titre{
    font-weight: 700;
}

.info a{
    font-family: "Red Hat Display", sans-serif;
    text-align: left;
    color: hsl(245, 75%, 52%);
    font-weight: 600;
}

.contenu button{
    width: 90%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: hsl(245, 75%, 52%);
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 3px 2px 15px rgba(0, 0, 0, 0.425);
}

.contenu button:hover{
    background-color: hsla(245, 75%, 52%, 0.733);
}

.contenu .cancel{
    text-decoration: none;
    margin-top: 15px;
    display: block;
    color: hsl(223, 47%, 23%);
    font-family: "Red Hat Display", sans-serif;
    font-weight: 800;
}

@media (max-width: 374px){
    body{
        background-image: url('images/pattern-background-mobile.svg');
    }
}